body {
    background-color: #f8f9fa;
}

.site-wrapper {
    width: 1200px;
    margin: auto;
}

.login-container {
    width: 400px;
}

.movie-list {
    display: flex;
    list-style: none;
}

.movie-list-item {
    margin-right: 20px;
}